<%= partial "partials/nav" %>
<% wrap_layout :layout do %>
    <div class="content-container">
    <div class="article">
        <h3 class="article-title center"><%= current_article.title %></h3>
        <div class="meta">
          <time class="meta__date">
            <%= current_article.date.strftime('%b %e %Y') %>
          </time>
          <span class="meta__tag">
            <%= tag_links(current_article) %>
          </span>
        </div>

        <div class="article-body"><%= yield %></div>
      </div>

      <div class= "read-more margin-top">
        <% previous_article = current_article.previous_article %>
        <% if previous_article %>
          <%= link_to "← #{previous_article.title}", previous_article,class: "left submit-button button--secondary" %>
        <% end %>

        <% next_article = current_article.next_article %>
        <% if next_article %>
          <%= link_to "#{next_article.title} →", next_article, class: "submit-button button--secondary right" %>
        <% end %>
      </div>
      <div class="footer"></div>
    </div>
<% end %>