<%= partial "partials/nav" %>
<div class="content-container">
  <ul>
    <% page_articles.each_with_index do |article, i| %>
      <li class="article">
        <h3 class="article-title"><%= link_to article.title, article %></h3>

          <%= article.summary%>

          <span class="meta__date">
            <%= article.date.strftime('%b %e %Y') %>
          </span>
          <span class="meta__tag">
            <%= tag_links(article) %>
          </span>

        <span class="divider"></span>
      </li>
    <% end %>
  </ul>
</div>